<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>OAuth2.0 Login</title>
    </head>
    <body>
        <h1>OAuth2 Login Test</h1>
        <form action="https://accounts.google.com/o/oauth2/v2/auth" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="client_id" th:value="${googleClientId}">
            <input type="hidden" name="redirect_uri" th:value="${googleCallbackUri}">
            <input type="hidden" name="response_type" value="code">
            <input type="hidden" name="scope" th:value="${googleDataAccessScope}">
            <input type="submit" value="Google login">
        </form>
        <br>
        <form action="https://kauth.kakao.com/oauth/authorize" method="get">
            <input type="hidden" name="client_id" th:value="${kakaoClientId}">
            <input type="hidden" name="redirect_uri" th:value="${kakaoRedirectUri}">
            <input type="hidden" name="response_type" value="code">
            <input type="image" th:src="@{/images/kakao_login_medium_narrow.png}" alt="Kakao Login">
        </form>
        <br>
        <form action="https://nid.naver.com/oauth2.0/authorize" method="get">
            <input type="hidden" name="client_id" th:value="${naverClientId}">
            <input type="hidden" name="redirect_uri" th:value="${naverRedirectUri}">
            <input type="hidden" name="response_type" value="code">
            <input type="image" th:src="@{/images/naver_login_medium_narrow.png}" alt="Naver Login">
        </form>
    </body>
</html>