<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery -->
    <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <!-- iamport.payment.js -->
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>

    <script>
        // https://developers.portone.io/docs/ko/authpay/guide?v=v2
        // 장바구니 상품 정보 보내기 및 주문번호 요청

        var customerToken = "";
        var merchantUid = ""; // 주문번호 입력
        var resOrderName = "";
        var resTotalAmount = 0;
        var resCurrency = "";
        var resPayMethod = "";
        var resFullName = "";
        var resPhoneNumber = "";
        var resEmail = "";

        function login(){
            var settings = {
                "url": "http://localhost:8081/customers/email/login",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "email": "customer123@naver.com",
                    "password": "!a123456789"
                }),
            };
            $.ajax(settings).done(function (response){
                customerToken = response.data.grantType + " " + response.data.accessToken;
                console.log(customerToken);
            });
        }

        function requestOrderNumber(){
            var settings = {
                "url": "http://localhost:8081/customers/orders/payments/process",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Authorization": customerToken,
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "orderDTO": {
                        "message": "문 앞에 둬주세요",
                        "receiverName": "정태승",
                        "receiverAddress": "주소1234",
                        "receiverPhone": "010-8420-4241",
                        "receiverPostCode": "12345"
                    },
                    "orderItemDTOs": [
                        {
                            "count": 1,
                            "productOptionId": 1
                        },
                        {
                            "count": 1,
                            "productOptionId": 2
                        },
                        {
                            "count": 1,
                            "productOptionId": 3
                        },
                        {
                            "count": 1,
                            "productOptionId": 4
                        }
                    ]
                }),
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                merchantUid = response.data.merchantUid;
                resOrderName = response.data.orderName;
                resTotalAmount = response.data.totalPrice;
                resCurrency = response.data.currency;
                resPayMethod = response.data.payMethod;
                resFullName = response.data.fullName;
                resPhoneNumber = response.data.phoneNumber;
                resEmail = response.data.email;

                $("#merchantUid").text(merchantUid);
                $("#resOrderName").text(resOrderName);
                $("#resTotalAmount").text(resTotalAmount + "원");

                console.log(merchantUid);
            });
        }

        // 주문번호와 결제금액을 통해 KG이니시스(PG사)를 통한 카드결제 요청
        async function requestPay() {
            const response = await PortOne.requestPayment({
                // Store ID 설정
                storeId: "store-8c062e98-d009-4b6d-9344-8cd2349938a2",
                // 채널 키 설정
                channelKey: "channel-key-86882cda-8e2c-4ef8-895d-a6fa29a8876e",
                paymentId: `${merchantUid}`,
                orderName: `${resOrderName}`,
                totalAmount: `${resTotalAmount}`,
                currency: `${resCurrency}`,
                payMethod: `${resPayMethod}`,
                customer: {
                    fullName: `${resFullName}`,
                    phoneNumber: `${resPhoneNumber}`,
                    email: `${resEmail}`,

                },
                // redirectUrl: "http://localhost:8081/login/testorder"
            });

            if(response.code != null){
                const rejectedNotify = await fetch("http://localhost:8081/customers/orders/payments/rejected/"+merchantUid, {
                    method: "PATCH",
                    headers: {
                        Authorization: customerToken
                    }
                }).then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json(); // JSON 응답을 파싱
                })
                    .then(data => {
                        $("#success").text("결제상태변경성공! 위 정보가 REJECTED 상태입니다.");
                        alert("결제 상태 변경 성공(REJECTED)했습니다!");
                    })
                    .catch(error => {
                        console.error("There was a problem with the fetch operation:", error);
                        alert("결제 상태 변경 실패했습니다. 다시 시도해주세요.");
                    });


                return alert(response.message);
            }

            // 고객사 서버, /payment/complete
            const notified = await fetch("http://localhost:8081/customers/orders/payments/complete/"+merchantUid, {
                method: "PATCH",
                headers: { "Authorization": customerToken }
            }).then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                $("#success").text("결제성공! 위 정보가 PAID 상태입니다.");
                alert("결제 성공했습니다!");
            }).catch(error => {
                console.error("There was a problem with the fetch operation:", error);
                alert("결제 실패했습니다. 다시 시도해주세요.");
            });
        }
    </script>
    <meta charset="UTF-8"/>
    <title>Sample Payment</title>
</head>
<body>
<button onclick="login()">구매자이메일로그인</button>
<button onclick="requestOrderNumber()">주문번호생성</button>
<div id="merchantUid"></div>
<div id="resOrderName"></div>
<div id="resTotalAmount"></div>
<button onclick="requestPay()">결제하기</button>
<div id="success"></div>
</body>
</html>